@use '../variables' as *;

.input__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

}

.form { 
    width: 100%;
}

.input { 
    border: none;
    border-radius: 50px;
    padding: 1rem;
    width: 88%;
    box-shadow: $InnerShadow;
}

.button1 { 
    border: none;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $White;
    color: $Primary;
    padding: 0 1rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: $InnerShadow;
}
.heart-image{
    height: 15px;
    width: auto;
}

.button{
    border-radius: 15px;
    min-width: 100px;
    box-shadow: $InnerShadow;
    cursor: pointer;
    border: none;
}