@use '../variables' as *;

.input__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

}

.form { 
    width: 100%;
}

.input { 
    border: none;
    border-radius: 50px;
    padding: 1rem;
    width: 88%;
    box-shadow: $InnerShadow;
}

.heart-image{
    height: 15px;
    width: auto;
}

.button{
    border-radius: 15px;
    box-shadow: $InnerShadow;
    cursor: pointer;
    border: none;
    padding: 1rem;
}