.liked-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.no-favorites {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    padding: 10rem;
    color: white;
}