//colors
$Bug: #a7b723;
$Dark: #75574c;
$Dragon: #7037ff;
$Electric: #f9cf30;
$Fairy: #e69eac;
$Fighting: #c12239;
$Fire: #f57d31;
$Flying: #a891ec;
$Ghost: #70559b;
$Normal: #aaa67f;
$Grass: #74cb48;
$Ground: #dec16b;
$Ice: #9ad6df;
$Poison: #a43e9e;
$Psychic: #fb5584;
$Rock: #b69e31;
$Steel: #b7b9d0;
$Water: #6493eb;

$Dark: #212121;
$Medium: #666666;
$Light: #E0E0E0;
$Background: #EFEFEF;
$White: #FFFFFF;


$Primary:rgb(70, 11, 81);